<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ShoppingApp2.Properties.Settings.ShoppingDBConnectionString"
            connectionString="Data Source=115.92.190.185,3433;Initial Catalog=ShoppingDB;User ID=dzicube;Password=ejwhs123$"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>